* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: pink;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.topnav-mainpage {
  overflow: hidden;
  background-color: #333;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 20px;
}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style the topnav links */
.topnav-mainpage a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Change color on hover */
.topnav-mainpage a:hover {
  background-color: #ddd;
  color: black;
}

.extra-bar-mainpage {
  margin-left: 15px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 34%;
}

/* Right column */
.rightcolumn {
  float: left; /* Not ideal, but works */
  width: 66%;
  background-color: #f1f1f1;
  padding-left: 20px;
  overflow: hidden; /* Helps avoid layout issues */
}

.column-mainpage {
  float: left; /* Not ideal, but works */
  width: 100%;
  background-color: #f1f1f1;
  overflow: hidden; /* Helps avoid layout issues */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)); /* Responsive grid */
  gap: 20px;
  background: rgb(255, 103, 129);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.grid-profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px;
  background: rgb(255, 103, 129);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.grid-header {
  grid-column: 1 / -1; /* Vie koko rivin */
  display: flex;
  justify-content: space-between; /* Otsikko vasemmalle, nappula oikealle */
  align-items: center;
  padding-bottom: 0px; /* Lisää tilaa grid-elementtien yläpuolelle */
  margin-bottom: -25px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(226, 216, 216);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.card-profile-left {
  background-color: pink;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.card2 {
  background-color: rgb(226, 216, 216);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.card-profile-right {
  background-color: rgb(226, 216, 216);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card-songpage-left {
  background-color: pink;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card-songpage-right {
  background-color: rgb(214, 198, 198);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.audio1 {
  width: 100%;  /* Makes the player stretch to the container */
  border-radius: 8px;  /* Rounded corners */
  background-color: #f1f1f1;
}

.audio2 {
  width: 100%;  /* Makes the player stretch to the container */
  border-radius: 0px 0px 8px 8px;  /* Rounded corners */
  background-color: #f1f1f1;
}

.song-info {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: 10px; /* Small spacing between artist & title */
  margin-top: 10px;
  margin-bottom: -15px;
}

.likes {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  gap: 20px; /* Small spacing between items */
}

.likes form {
  display: flex;
  align-items: center; /* Vertically center the button */
}

.likes p {
  margin: 0; /* Remove default margin around paragraphs */
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
