<!-- <!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
</body>

</html> -->


<!DOCTYPE html>
<html
<body>
    <h1>Welcome!</h1>
    {% if session.username %}
    <p>
      You have logged in as {{ session.username }}
    </p>
    <p>
      <a href="/show_user">Profile</a>
    </p>
    <p>
      <a href="/logout">Log out</a>
    </p>
    {% else %}
    <p>Valitse toiminto:</p>
    <ul>
        <li><a href="/login_page">Login in</a></li>
        <li><a href="/register">Create new profile</a></li>
    </ul>
    {% endif %}
</body>
</html>
