
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ song.title }}</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/upload_song">Upload Song</a>
    {% if session.username %}
    <a href="/logout" style="float:right">Logout</a>
    {% else %}
    <a href="/login_page" style="float:right">Login</a>
    <a href="/register" style="float:right">Create new profile</a>
    {% endif %}
  </div>

  <div class="row">

    <div class="leftcolumn">
      <div class="card2">

        <div class="song-info">
          <h1><a href="/user/{{ song.user_id }}">{{ song.artist }}</a> - {{ song.title }}</h1>
        </div>

        <br>

        <img src="{{ url_for('static', filename=song.image_file_path.split('static/')[-1]) }}" alt="Kansikuva" width="100%">

        <audio controls class="audio2">
          {% if song.audio_file_path.endswith('.mp3') %}
          <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/mpeg">
          {% elif song.audio_file_path.endswith('.wav') %}
          <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/wav">
          {% else %}
              <p>Tiedostotyyppi ei tuettu.</p>
          {% endif %}
          Selaimesi ei tue äänitiedostoja.
        </audio>

        <br>

        <div class="likes">

          <form action="/like/{{ song.id }}" method="post">
            <button type="submit">👍 Like</button>
          </form>

          <p>Likes: {{ like_counter }}</p>

          <form action="/dislike/{{ song.id }}" method="post">
              <button type="submit">👎 Dislike</button>
          </form>

          <p>Dislikes: {{ dislike_counter }}</p>

        </div>

        <br>
      
        {% if song.user_id == session.user_id %}
        <form action="/delete_song/{{ song.id }}" method="post"
        onsubmit="return confirm('Are you sure you want to delete this song?');">
        <button type="submit">Delete Song</button>
        </form>
        {% endif %}




      </div>
    </div>


    <div class="rightcolumn">
      <div class="card-songpage">
        <h2>Comments:</h2>
        {% for message in messages %}
        <p>
          {{ message.username }} ({{ message.sent_at }}):
        </p>
        <p>
          {{ message.content }}
        </p>
        {% if message.user_id == session.user_id %}
        <p>
          <a href="/edit/{{ message.id }}">Muokkaa</a> |
          <a href="/remove/{{ message.id }}">Poista</a>
        </p>
        {% endif %}
        <hr />
        {% endfor %}

        {% if session.user_id %}

        <form action="/new_message" method="post">
          <p>
            New message:<br />
            <textarea name="content" rows="5" cols="40"></textarea>
          </p>
          <input type="hidden" name="thread_id" value="{{ thread.id }}" />
          <input type="submit" value="Send" />
        </form>
        {% endif %}
      </div>
    </div>

  </div>



