
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ user.username }}</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>


<body>

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/user/{{ session['user_id'] }}">Profile</a>
    <a href="/upload_song">Upload Song</a>
    {% if session.username %}
    <a href="/logout" style="float:right">Logout</a>
    {% else %}
    <a href="/login_page" style="float:right">Login</a>
    <a href="/register" style="float:right">Create new profile</a>
    {% endif %}
  </div>

  <div class="row">

    <div class="leftcolumn">
      <div class="card">
        <h1>{{ user.username }}</h1>
        {% if user.has_image %}
        <img src="/image/{{ user.id }}" height="400"/>
        {% else %}
        <form action="/add_image" method="post" enctype="multipart/form-data">
          <p>
            Choose profile picture: <input type="file" name="image" accept=".jpg" />
          </p>
          <input type="submit" value="Upload image" />
        </form>
        {% endif %}
        
        <h3>About Me</h3>
        
        {% if user.has_bio %}

          <p>{{ user.bio }}</p>

          {% if session["user_id"] == user.id %}
          <button onclick="document.getElementById('edit-bio-form').style.display='block'">
            Edit Bio
          </button>
          <!-- Hidden form for editing -->
          <form id="edit-bio-form" action="/add_bio" method="post" style="display: none;">
              <textarea name="content" rows="4" cols="40">{{ user.bio }}</textarea>
              <br>
              <input type="submit" value="Save Changes">
          </form>
          {% endif %}

        {% else %}

          {% if session["user_id"] == user.id %}
          <button onclick="document.getElementById('edit-bio-form').style.display='block'">
            Edit Bio
          </button>
          <!-- Hidden form for editing -->
          <form id="edit-bio-form" action="/add_bio" method="post" style="display: none;">
              <textarea name="content" rows="4" cols="40">{{ user.bio }}</textarea>
              <br>
              <input type="submit" value="Save Changes">
          </form>
          {% endif %}

        {% endif %}
        
      </div>
    </div>
    
    <div class="rightcolumn">
      <div class="grid">
        <div class="grid-header">
          <h2>{{ user.username }}'s Songs</h2>
          <button class="search-button">🔍 Search</button>
        </div>
        {% for song in songs %}
        <div class="card2">
          <img src="{{ url_for('static', filename=song.image_file_path.split('static/')[-1]) }}" alt="Kansikuva" width="100%" height="auto">
    
          <div class="song-info">
            <strong>{{ song.artist }}</strong> - <a href="/song/{{ song.id }}">{{ song.title }}</a>
          </div>
    
          <p>Genre: {{ song.genre }}</p>
    
          <audio controls class="audio1">
            {% if song.audio_file_path.endswith('.mp3') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/mpeg">
            {% elif song.audio_file_path.endswith('.wav') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/wav">
            {% else %}
            <p>Tiedostotyyppi ei tuettu.</p>
            {% endif %}
            Selaimesi ei tue äänitiedostoja.
          </audio>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>
</html>