
<!DOCTYPE html>
<html>
<body>
    <h1>{{ user.username }}'s profile</h1>

    {% if user.has_image %}
    <img src="/image/{{ user.id }}" />

    {% else %}
    <form action="/add_image" method="post" enctype="multipart/form-data">
      <p>
        Choose profile picture: <input type="file" name="image" accept=".jpg" />
      </p>
      <input type="submit" value="Upload image" />
    </form>
    {% endif %}

    <p>
      <a href="/">Home page</a>
    </p>

    <p>
      <a href="/upload_song">Upload a song</a>
    </p>

    <h1>{{ user.username }}'s tracks:</h1>
    <ul>
        {% for song in songs %}
        <li>
          <img src="{{ url_for('static', filename=song.image_file_path.split('static/')[-1]) }}" alt="Kansikuva" width="100">
          <strong>{{ song.artist }}</a></strong> – <a href="/song/{{ song.id }}">{{ song.title }}</a>
          <br>
          <audio controls>
            {% if song.audio_file_path.endswith('.mp3') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/mpeg">
            {% elif song.audio_file_path.endswith('.wav') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/wav">
            {% else %}
                <p>Tiedostotyyppi ei tuettu.</p>
            {% endif %}
            Selaimesi ei tue äänitiedostoja.
          </audio>
        </li>
        {% endfor %}
    </ul>



</body>
</html>
