
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musiquefy</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>


<body>

  
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/upload_song">Upload Song</a>
    {% if session.username %}
    <a href="/logout" style="float:right">Logout</a>
    {% else %}
    <a href="/login_page" style="float:right">Login</a>
    <a href="/register" style="float:right">Create new profile</a>
    {% endif %}
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h1>{{ user.username }}</h1>
        {% if user.has_image %}
        <img src="/image/{{ user.id }}" />
        {% else %}
        <form action="/add_image" method="post" enctype="multipart/form-data">
          <p>
            Choose profile picture: <input type="file" name="image" accept=".jpg" />
          </p>
          <input type="submit" value="Upload image" />
        </form>
        {% endif %}
        
        <h3>About Me</h3>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
      <!-- <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div> -->
    </div>
    
    <div class="rightcolumn">
      <div class="grid">
        <div class="grid-header">
          <h2>{{ user.username }}'s Songs</h2>
          <button class="search-button">🔍 Search</button>
        </div>
        {% for song in songs %}
        <div class="card2">
          <img src="{{ url_for('static', filename=song.image_file_path.split('static/')[-1]) }}" alt="Kansikuva" width="150">
    
          <div class="song-info">
            <strong>{{ song.artist }}</strong> - <a href="/song/{{ song.id }}">{{ song.title }}</a>
          </div>
    
          <p>Genre: {{ song.genre }}</p>
    
          <audio controls>
            {% if song.audio_file_path.endswith('.mp3') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/mpeg">
            {% elif song.audio_file_path.endswith('.wav') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/wav">
            {% else %}
            <p>Tiedostotyyppi ei tuettu.</p>
            {% endif %}
            Selaimesi ei tue äänitiedostoja.
          </audio>
        </div>
        {% endfor %}
      </div>



      <!-- <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg"><p>Image</p></div>
        <div class="fakeimg"><p>Image</p></div>
        <div class="fakeimg"><p>Image</p></div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div> -->
    </div>
  </div>

</body>
</html>

<!-- <body>
    <h1>{{ user.username }}'s profile</h1>

    {% if user.has_image %}
    <img src="/image/{{ user.id }}" />

    {% else %}
    <form action="/add_image" method="post" enctype="multipart/form-data">
      <p>
        Choose profile picture: <input type="file" name="image" accept=".jpg" />
      </p>
      <input type="submit" value="Upload image" />
    </form>
    {% endif %}

    <p>
      <a href="/">Home page</a>
    </p>

    <p>
      <a href="/upload_song">Upload a song</a>
    </p>

    <h1>{{ user.username }}'s tracks:</h1>
    <ul>
        {% for song in songs %}
        <li>
          <img src="{{ url_for('static', filename=song.image_file_path.split('static/')[-1]) }}" alt="Kansikuva" width="100">
          <strong>{{ song.artist }}</a></strong> – <a href="/song/{{ song.id }}">{{ song.title }}</a>
          <br>
          <audio controls>
            {% if song.audio_file_path.endswith('.mp3') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/mpeg">
            {% elif song.audio_file_path.endswith('.wav') %}
            <source src="{{ url_for('static', filename=song.audio_file_path.split('static/')[-1]) }}" type="audio/wav">
            {% else %}
                <p>Tiedostotyyppi ei tuettu.</p>
            {% endif %}
            Selaimesi ei tue äänitiedostoja.
          </audio>

        </li>
        {% endfor %}
    </ul>



</body>
</html> -->
