
<!DOCTYPE html>
<html>
<body>
  <h1>Upload song</h1>

  <form action="/upload" method="POST" enctype="multipart/form-data">    
    <label for="title">Song title:</label>
    <input type="text" name="title" required maxlength="50"><br>

    <label for="artist">Artist:</label>
    <input type="text" name="artist" required maxlength="50"><br>

    <label for="genre">Genre:</label>
    <input type="text" name="genre" maxlength="50"><br>

    <label for="file">Song file:</label>
    <input type="file" name="file" accept=".mp3, .wav" required><br>

    <label for="cover">Cover:</label>
    <input type="file" name="cover" accept="image/*" required><br>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Upload song</button>
</form>




</body>
</html>
